<div class="instruction">
  <hr>
  <table>
    <tr>
      <th>Richten</th>
      <th>Klikken</th>
      <th>Scrollen</th>
    </tr>
    <tr>
      <td>
        <img class="aspect-ratio" src="{{ site.url }}/assets/images/aim-instruction.png">
      </td>
      <td>
        <img class="aspect-ratio" src="{{ site.url }}/assets/images/click-instructions.gif">
      </td>
      <td>
        <img class="aspect-ratio" src="{{ site.url }}/assets/images/scroll-instructions.gif">
      </td>
    </tr>
  </table>
  <hr>
</div>
