<div class="instruction">
  <hr>
  <table>
    <tr>
      <th>Richten</th>
      <th style="border-left: 2px solid black;">Klikken</th>
      <th style="border-left: 2px solid black;">Scrollen</th>
    </tr>
    <tr>
      <td>
        <img class="aspect-ratio" src="{{ site.url }}/assets/images/aim-instruction.png">
      </td>
      <td style="border-left: 2px solid black;">
        <img class="aspect-ratio" src="https://msegceporticoprodassets.blob.core.windows.net/asset-blobs/12461_en_4">
      </td>
      <td style="border-left: 2px solid black";>
        <img class="aspect-ratio" src="https://msegceporticoprodassets.blob.core.windows.net/asset-blobs/12461_en_4">
      </td>
    </tr>
  </table>
  <hr>
</div>
